#block {
	height: 400px;
	width: 300px;
	margin-top: 50vh;
	transform: translateY(-50%);
	background-color: rgb(14, 221, 142);
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#block h1 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 37px;
	transform: rotate(3deg);
	background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	filter: brightness(180%);
}

.block-item {
	background-color: white;
	padding: 10px 10px;
	border-radius: 5px;
	width: 90%;
}

#logout {
	background-color: white;
	padding: 10px 10px;
	border-radius: 5px;
	width: 90%;
	font-size: 25px;
	outline: none;
	border: none;
	background-color: rgb(170, 15, 67);
	color: white;
	font-family: Poppins;
}

#logout:hover {
	background-color: rgb(182, 23, 76);
	transition: 0.1s all linear;
}

#logout:focus {
	box-shadow: 0 0 3px red;
}